#login {
  .user-box {
    position: relative;
    display: block;
  }
  .user-box:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    bottom: 0rem;
    left: 5%;
    background: #ddd;
  }
  .logo-box {
    img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      display: block;
      margin: 1rem auto;
    }
  }
  .operate-box{
    text-align: left;
    font-size: .7rem;
    width: 90%;
    margin:0 auto;
  }
}
