#register_login_form {
  .content {
    //background: #fff;
  }
  .logo-box {
    img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      display: block;
      margin: 1rem auto;
    }
  }
  .border-box {
    position: relative;
    display: block;
  }
  .border-box:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    bottom: 0rem;
    left: 5%;
    background: #ddd;
  }
  //.login-form-list{
  //  padding: 1rem 0;
  //}
  //li{
  //  width: 90%;
  //  height: 2.15rem;
  //  line-height: 2.15rem;
  //  border:1px solid #ddd;
  //  border-radius: 1rem;
  //  margin: .5rem auto;
  //  .item-inner{
  //    padding: 0;
  //  }
  //}
  //.list-block .item-inner:after{
  //  content: '';
  //  height:0 !important;
  //}
  .getcode {
    width: 8rem;
    height: 2.15rem;
    background: #f6383a;
    color: #fff;
    text-align: center;
    line-height: 2.15rem;
    border-radius: 1rem;
  }
  .operate-box {
    text-align: left;
    font-size: .7rem;
    width: 90%;
    margin: 0 auto;
  }
  .content-block {
    padding-bottom: 1rem;
  }
}
